*{
    box-sizing: border-box;
}


body, html {
    padding: 0px;
    margin: 0px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row .item{
    flex: 1;
    min-width: 280px;
}